
.rightt {
  height:100vh;
  padding-top: 10%;
  padding-left: 0px;

}
.leftt {
  height:100vh;
  /* background-color: black; */
   background-image: url("../images/bgtw.jpeg");
   float:left;
   overflow-x: hidden;


}
.roww {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  overflow-y: hidden;


}

.columnn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

